* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  background-color: white;
  justify-content: space-between;
  display:flex;
  height: 80px;
}

nav .menuList {
  list-style: none;
  display:flex;
  font-size: 18px;
  padding-right: 15px;
  padding-top: 15px;

}

nav .menuList li a {
  text-decoration: none;
  color: black;
  display:inline-block;
  padding: 15px 10px 15px 10px;

}


nav .openMenu {
  font-size: 20px;
  color:black;
  padding:10px;
  display: none;
  cursor: pointer;
  margin: 18px;

}
nav .menuList .closeMenu , .icons i {
  font-size: 20px;
  color:white;
  padding:10px;
  display: none;

}

nav .logo {
  padding:12px 0 0 10px;
  font-size: 14px;
  cursor: pointer;
  margin: 15px;
  color: black;

}
section ul {
list-style: none;
display:flex;
flex-wrap: wrap;
justify-content: center;

}
section ul .portfolio01 {
  content: url("images/portfolio-img1.jpg");
  width: 200px;
  height:200px;
}
section ul .portfolio02 {
  content: url("images/portfolio-img2.jpg");
  width:200px;
  height:200px;
}
section ul .portfolio03 {
  content: url("images/portfolio-img3.jpg");
  width:200px;
  height:200px;
}
section ul .portfolio04 {
  content: url("images/portfolio-img4.jpg");
  width:200px;
  height:200px;
}
section ul .portfolio05 {
  content: url("images/portfolio-img5.jpg");
  width:200px;
  height:200px;
}
section ul .portfolio06 {
  content: url("images/portfolio-img6.jpg");
  width:200px;
  height:200px;
}
section ul .portfolio07 {
  content: url("images/portfolio-img7.jpg");
  width:200px;
  height:200px;
}
section ul .portfolio08 {
  content: url("images/portfolio-img8.jpg");
  width:200px;
  height:200px;
}
section ul .portfolio09 {
  content: url("images/portfolio-img9.jpg");
  width:200px;
  height:200px;
}
section ul .portfolio10 {
  content: url("images/portfolio-img10.jpg");
  width:200px;
  height:200px;
}
section ul .portfolio11 {
  content: url("images/portfolio-img11.jpg");
  width:200px;
  height:200px;
}
section ul .portfolio12 {
  content: url("images/portfolio-img12.jpg");
  width:200px;
  height:200px;
}
section ul .portfolio13 {
  content: url("images/portfolio-img13.jpg");
  width:200px;
  height:200px;
}
section ul .portfolio14 {
  content: url("images/portfolio-img14.jpg");
  width:200px;
  height:200px;
}
section ul .portfolio15 {
  content: url("images/portfolio-img15.jpg");
  width:200px;
  height:200px;
}
section ul li {
  margin:20px 10px 10px 20px;
}
section ul li a {
  display:flex;
  justify-content: center;
  align-items: center;
  width:200px;
  height:200px;
  font-size:14px;
  color:blueviolet;
  font-weight: bold;
  text-decoration: none;
  box-sizing: border-box;
  border:dotted 3px #FFF;
  transition:1s;
  background: brown;
  box-shadow: 0px 0px 0px 4px rgb(0, 105, 14);
}
section ul li a:hover { 
  background:rgb(188, 29, 236);
  box-shadow: 0px 0px 0px 4px rgb(1, 196, 255);
}
footer {
  background-color:black;
  text-align: center;
  color:grey;
  font-size: 14px;
  height:100vh;
  padding:10px;
  
}
footer .iconsFooter i {
  color:grey;
  padding:5px;
}
footer .iconsFooter i:hover {
  color:blue;
  cursor: pointer;
}

/* mobile size etc */
@media(max-width: 800px){
  nav .menuList {
    height:100vh;
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index: 10;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background:black;
    transition:top 0.5s ease;
    display:none;
    font-size:20px;
    color:white;
  }
  nav .menuList .closeMenu {
    display:block;
    position:absolute;
    top:20px;
    right:20px;
    cursor: pointer;


  }
nav .openMenu {
  display:block;
}
nav .menuList li a {
  color:white;

}
nav .menuList li a:hover {
  background: none;
  color: blue;
  font-size: 20px;


}
.icons i {
  display: inline-block;
  padding:10px;
  cursor: pointer;

}
.icons i:hover {
  color:blue;
  cursor: pointer;

}

}
